// color variables
$abflips-color1: #e65119;
$abflips-color2: orange;
$abflips-color3: #17a2b8;

.navbar-dark {
  background-color: $abflips-color1;
}

.jumbotron {
  background-color: $abflips-color2;
  color: white;
  padding: 80px 0px 10px 0px;
}

.img-modal-carousel {
  padding: 0.25rem;
  border: 1px solid #ffffff;
  height: 200px;
}

.figure-img {
  height: 250px;
  border: 2px solid white;
  margin: 5px;
}

.figure-caption {
  margin: 5px;
}

.project-card-header {
  background-color: $abflips-color1;
  color: white;
}

.modal-content,
.card-body {
  background-color: $abflips-color3;
  color: white;
  text-align: left;
}

.modal-header,
.card-header {
  background-color: orange;
  color: white;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-body {
  height: 300px;
}

.accordion {
  .btn-link {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
  }
  .card-body {
    height: auto;
  }
  .card {
    margin: 0px;
  }
}
