body {
  font-size: large;
}

.navbar-dark {
  background-color: #e65119;
}

a.nav-Link {
  color: white;
  padding-left: 5px;
  padding-right: 15px;
}

.card a:hover {
  text-decoration: none;
}

.jumbotron {
  background-color: orange;
  color: white;
  padding: 80px 0px 10px 0px;
}

img.map {
  border: 2px;
  border-style: solid;
  border-color: #17a2b8;
  margin-bottom: 20px;
}

.img-modal-carousel {
  padding: 0.25rem;
  border: 1px solid #ffffff;
  height: 200px;
}

.img-property-carousel {
  padding: 0.25rem;
  border: 1px solid #17a2b8;
  height: 400px;
}

.figure-img {
  height: 250px;
  border: 2px solid white;
  margin: 5px;
}

.figure-caption {
  margin: 5px;
}

.project-card-header {
  background-color: #e65119;
  color: white;
}

.modal-content,
.card-body {
  background-color: #17a2b8;
  color: white;
  text-align: left;
}

.modal-header,
.card-header {
  background-color: orange;
  color: white;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-body {
  height: 350px;
}

.accordion .btn-link {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.accordion .card-body {
  height: auto;
}

.accordion .card {
  margin: 0px;
}
